<html>
<body>

<div class="flex-centered bg-primary ctr-primary ">
<div class=" flex-column rad-10 w-30">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <div class="form-field flex-column-centered mt-m10">

    <div class="field flex-start">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Email" %>
    </div>

    <div class="name-field flex-start">
      <%= f.text_field :name , class: "input", placeholder: "Full name" %>
    </div>

    <div class="field flex-start">
      <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password"  %>
    </div>

    <div class="field flex-start">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirm Password"   %>
    </div>
    <div class="actions flex-centered ">
      <%= f.submit "Register" %>
    </div>
  <% end %>
  
  <div class="flex-start">
  <%= render "devise/shared/links" %>
  </div>
  </div>
  </div>
  </div>
  </body>
</html>