<div class="reg">
<div class=" pl-10 mt-1 bordered flex-column rad-10 w-30">
<div class="flex-start">
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="col-gap-1">
  <div class="field flex-start">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actስ  ions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

</div>
<%= render "devise/shared/links" %>
</div>
</div>
</div>