<!DOCTYPE html>
<html>
<head>
  <title>New Food</title>
</head>
<body>
<div class="add-food-fields-container ">
<div class="  flex-column-centered w-100 mt-m1">
<%= form_with(model: @food, url: user_foods_path) do |form| %>
  <div class="flex-start mt-1">
    <%= form.label :name %>
    <%= form.text_field :name, class: "add-food-filds" %>
  </div>
  <div class="flex-start mt-1">
    <%= form.label :measurement_unit %>
    <%= form.text_field :measurement_unit, class: "add-food-filds" %>
  </div>
  <div class="flex-start mt-1">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: "add-food-filds" %>
  </div>
  <div class="flex-start mt-1">
    <%= form.label :price %>
    <%= form.number_field :price, class: "add-food-filds" %>
  </div>

  <%= form.submit 'Add Food', class: "add-food mt-1" %>
<% end %>


</div>
</div>
</body>