
<!DOCTYPE html>
<html>
  <head>
    <title>Payments</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="hidden-scroll">
    <%= link_to expenses_path, class: 'bk' do %>
      <%= image_tag("back-arrow.png", alt: "Back") %>
    <% end %>
  <% sum = 0 %>
  <div class="payments flex-column-centered hidden-scroll ">
  <div class="flex-column-centered payment-details hidden-scroll relative">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <% @payments.each do |payment| %>
    <% if (payment.transaction_id == @expense.id) %>
    <% sum += payment.amount %>
        <div class="detail">
            <p class="payment-name flex-column-start">
              <%= payment.name %>
            </p>
          <div class="flex-column-start gap-10p relative">
            <p class="payment-date  flex-start">
              <p><%= payment.created_at.strftime('%e %B %Y ') %></p>
              <p><%= payment.created_at.strftime('at %l:%M %p') %></p>
            </p>
            <p class="payment-amount  flex-start">
                 $<%= payment.amount %>
            </p>
          </div>
        </div>
    <% end %>
  <% end %>
  <div class="total absolute">
    Total $<%= sum %>
  </div>
  </div>  
  </body>
  <div class="flex-column-centered fixed bottom-centered  ">
  <div class="   box ">
  <%= link_to 'Add Payment', new_payment_path(expense_id: @expense.id), class: 'inner-border no-decoration new-payment-btn' %>
        </div>
  </div>
  </div>
</html>
