

<!DOCTYPE html>
<html>
  <head>
    <title>Payments</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    </head>
    
    <body>
    <%= link_to payments_path(id: @expense.id), class: 'bk' do %>
      <%= image_tag("back-arrow.png", alt: "Back") %>
    <% end %>
    
    <%= form_with(model: @payment, url: expense_payments_path(@expense)) do |form| %>
    <div class="flex-centered bg-primary ctr-primary ">
    <div class=" flex-column rad-10 w-30">
      <div class="form-field flex-column-centered mt-m10">
        <div class="field flex-start">
          <%= form.text_field :name, class: "add-food-filds", placeholder: "Enter name" %>
          </div>
          <div class="name-field flex-start">
          <%= form.text_field :amount, class: "add-food-filds", placeholder: "Enter amount" %>
          </div>
        <div class="box">
          <div class="inner-border">
            <button type="submit">Submit</button>
          </div>
        </div>
      </div>
      </div>
      </div>
      <% end %>
  </body>
</html>





 