
<!DOCTYPE html>
<html>
  <head>
    <title>Expense Transactions app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="flex-column-centered expenses ">
    <div class="transaction-list hidden-scroll">
      <% @expenses.each do |expense| %>
        <%= link_to payments_path(id: expense.id), class: "transaction-name some-class" do %>
        <div class="transaction-row flex-centered">
          <div class="flex-spaced">
            <div class="flex-spaced">
            <p><%= image_tag("#{expense.icon.upcase}.png", alt: "Back") %></p>
              <div class="transaction-name"><%= expense.name %></div>
            </div>
          </div>
          <div class="transaction-created-at">
            <% sum = 0 %>
            <% count = 0 %>
            <% @payments.select { |payment| payment.transaction_id == expense.id }.each do |payment| %>
                <% sum += payment.amount %>
                <% count += 1 %>
            <% end %>
            <%= count %> Items,
            Total $<%= sum %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="box w-100 fit-content">
      <%= link_to 'Add Expense Category', new_expense_path, class: 'inner-border no-decoration new-payment-btn ' %>
  </div>
  </div>
  </body>

</html>
