<!DOCTYPE html>
<html>
<head>
  <title>Expense Tracking app</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <div class="header-label">
    <div class="flex-spaced p-1  mt-50p">
      <div class="mobile-menu-icon">
        <% if (current_user) %>
        <button id="sidebarToggle">
          <%= image_tag "menu.png", alt: "Menu icon" %>
        </button>
        <% end %>
      </div>
      <% if current_page?(new_user_registration_path) %>
        <div class="title">Register</div>
      <% elsif current_page?(user_session_path) %>
        <div class="title">Login</div>
      <% elsif current_page?(expenses_path) %>
        <div class="title">Expense Categories</div>
      <% elsif current_page?(new_user_password_path) %>
        <div class="title">Reset Password</div>
      <% elsif current_page?(payments_path(1)) %>
        <div class="title">Payment Details</div>
      <% elsif current_page?(new_payment_path) %>
        <div class="title">Add New Payment</div>
      <% elsif current_page?(new_expense_path) %>
        <div class="title">New Expense</div>
      <% else %>
        <!-- Default content if none of the conditions match -->
      <% end %>
      <div>
        <%= image_tag "search.png", alt: "Search icon" %>
      </div>
    </div>
  </div>

  <!-- Sidebar menu -->
  <% if current_user %>
  <div id="sidebar" class="sidebar">
  <div class="current_user flex-column-centered mt-3 mb-3">
    <%= current_user.name %>
  </div>
  <ul class="list-group">
    <li class="list-group-item <%= 'active' if current_page?(expenses_path) %>">
      <%= link_to expenses_path, class: 'list-group-items' do %>
        <div class="list-group-item-content">Expenses</div>
      <% end %>
    </li>
  
    <li class="list-group-item <%= 'active' if current_page?(new_payment_path) %>">
    <%= link_to new_expense_path, class: 'list-group-items' do %>
      <div class="list-group-item-content">New Expense</div>
    <% end %>
    </li>
    <li class="list-group-item <%= 'active' if current_page?(new_payment_path) %>">
      <%= link_to new_payment_path(expense_id: Expense.last.id), class: 'list-group-items' do %>
        <div class="list-group-item-content">New Payments</div>
      <% end %>
    </li>
    <li class="list-group-item <%= 'active' if current_page?(payments_path(1)) %>">
      <%= link_to payments_path(1), class: 'list-group-items' do %>
        <div class="list-group-item-content">Payments</div>
      <% end %>
    </li>
  </ul>
</div>
<% end %>

  <main>
    <%= yield %>
  </main>

  <footer>
    <!-- Footer content here -->
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const sidebarToggle = document.getElementById("sidebarToggle");
      const sidebar = document.getElementById("sidebar");

      sidebarToggle.addEventListener("click", function() {
        sidebar.classList.toggle("active");
      });
    });
  </script>
</body>
</html>
