<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="relative">
      <div class="mt-1 pv-50 top-centered rad-10">
        <div class="flex-spaced">
          <div class="logo">
            <p>Recipe App</p>
          </div>
          <div class="flex-spaced gap-3 menu">
          <%= link_to user_foods_path, class: "plain" do %>
            <p>Foods</p>
            <% end %>
          <%= link_to user_recipes_path, class: "plain" do %>
            <p>Recipes</p>
            <% end %>
            <p>Public Recipes</p>
            <p>Shopping List</p>
          </div>
        </div>
      </div>
    </div>

    <main>
      <%= yield %>
    </main>

    <footer>
      <!-- Footer content here -->
    </footer>
  </body>
</html>
